<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ "/assets/js/jquery.fitvids.js" | prepend: site.baseurl  }}"></script>
<script type="text/javascript" src="{{ "/assets/js/index.js" | prepend: site.baseurl  }}"></script>
<script type="text/javascript" src="{{ "/assets/js/readingTime.min.js" | prepend: site.baseurl  }}"></script>
<script>
(function ($) {
  "use strict";
  $(document).ready(function(){

    var $window = $(window),
    $image = $('.post-image-image, .teaserimage-image');

      $window.on('scroll', function() {
        var top = $window.scrollTop();

        if (top < 0 || top > 1500) { return; }
        $image
          .css('transform', 'translate3d(0px, '+top/3+'px, 0px)')
          .css('opacity', 1-Math.max(top/700, 0));
      });
      $window.trigger('scroll');

      var height = $('.article-image').height();
      $('.post-content').css('padding-top', height + 'px');

      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
         && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({ scrollTop: target.offset().top }, 500);
            return false;
          }
        }
      });

  });
}(jQuery));
</script>
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
$(document).ready(function () {
  // OpenWeatherMap only works over HTTP. Check if using HTTPS
  // and present an error with a link to a HTTP version of the page.
  if (window.location.protocol != 'http:') {
    $('#condition').hide();
    $('#wind-speed').hide();
    $('#convert-button').hide();
    $('#error').html('Sorry, no support over https yet.<br />' +
      'Please try again over http, or ' +
      '<a href="#" target=_blank>' +
      'click here</a>.');
  } else {
    getLocation();

    // add a spinner icon to areas where data will be populated
    $('#condition').html('<i class="fa fa-spinner fa-pulse fa-3x"></i>');
    $('#wind-speed').html('<i class="fa fa-spinner fa-pulse fa-3x"></i>');
  }
  });

  function getLocation() {
  // Using the GEO IP API due to HTTP restrictions from OpenWeatherMap
  $.get('http://ip-api.com/json', function (loc) {
      $('#city').text(loc.city + ', ' + loc.region + ', ' + loc.country);
      getWeather(loc.lat, loc.lon, loc.countryCode);
    })
    .fail(function (err) {
      getWeather();
    });
  }

  function getWeather(lat, lon, countryCode) {
  var weatherAPI = 'http://api.openweathermap.org/data/2.5/weather?lat=' +
    lat + '&lon=' + lon + '&units=imperial' + '&type=accurate' +
    '&APPID=9e1359ca27b87feea5cdc4cc4453b804'; // passing in the Open Weather App ID

  $.get(weatherAPI, function (weatherData) {
      // Also used by convert();
      temp = weatherData.main.temp.toFixed(0);
      tempC = ((temp - 32) * (5 / 9)).toFixed(0);

      var condition = weatherData.weather[0].description,
        id = weatherData.weather[0].id,
        speed = Number((weatherData.wind.speed * 0.86897624190816).toFixed(1)),
        deg = weatherData.wind.deg,
        windDir,
        iconClass,
        bgIndex,
        backgroundId = [299, 499, 599, 699, 799, 800],
        backgroundIcon = [
          'thunderstorm',
          'sprinkle',
          'rain',
          'snow',
          'fog',
          'night-clear',
          'cloudy',
        ],
        backgroundImg = [
          'https://source.unsplash.com/collection/269971/1600x900',
          'https://source.unsplash.com/collection/267472/1600x900',
          'https://source.unsplash.com/collection/267472/1600x900',
          'https://source.unsplash.com/collection/269968/1600x900',
          'https://source.unsplash.com/collection/269970/1600x900',
          'https://source.unsplash.com/collection/269965/1600x900',
          'https://source.unsplash.com/collection/269968/1600x900',
        ];




      backgroundId.push(id);
      bgIndex = backgroundId.sort().indexOf(id);
      //$('body').css('background-image', 'url(' + backgroundImg[bgIndex] + ')');
      iconClass = backgroundIcon[bgIndex];

    //Get wind compass direction. If API returns null, assume 0 degrees.
    if (deg) {
      var val = Math.floor((deg / 22.5) + 0.5),
          arr = [
            'N', 'NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE',
            'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW',
          ],
          windDir = arr[(val % 16)];
    } else {
      windDir = 'N';
    }

    //determine F or C based on country and add temperature to the page.
    var fahrenheit = ['US', 'BS', 'BZ', 'KY', 'PL'];
    if (fahrenheit.indexOf(countryCode) > -1) {
      $('#temperature').text(temp + '° F');
    } else {
      $('#temperature').text(tempC + '° C');
    }

    //write final weather conditions and wind information to the page
    $('#wind-speed').html(
      '<i class="wi wi-wind wi-from-' + windDir.toLowerCase() + '"></i><br>' +
      windDir + ' ' + speed + ' knots');
    $('#condition').html(
      '<i class="wi wi-' + iconClass + '"></i><br>' + condition);
  })
    .fail(function (err) {
    $('#city').text('Seattle, WA, United States');
    getWeather(47.6062, 122.3321, 'US');
    return false;
  });
}

  //toggle between celsius / fahrenheit
  $('#convert-button').click(function () {
  if ($('#temperature').text().indexOf('F') > -1) {
    $('#temperature').text(tempC + '° C');
  } else {
    $('#temperature').text(temp + '° F');
  }

  // this.blur(); // remove focus from the button
  });
</script>
